<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="memberSQL">
 
  	<resultMap type="member.bean.MemberDTO" id="memberResult">
 		<result column="NAME" property="name" />
 		<result column="ID" property="id" />
 		<result column="GENDER" property="gender" />
 		<result column="EMAIL1" property="email1" />
 		<result column="EMAIL2" property="email2" />
 		<result column="TEL1" property="tel1" />
 		<result column="TEL2" property="tel2" />
 		<result column="TEL3" property="tel3" />
 		<result column="ZIPCODE" property="zipcode" />
 		<result column="ADDR1" property="addr1" />
 		<result column="ADDR2" property="addr2" />
 	</resultMap>
 
 	<select id="getEmailTo" parameterType="java.util.Map" resultType="member">
 		select * from member where id=#{id} and pwd=#{pwd}
 	</select>
 </mapper>